.containerFooter{
  background-color:#033141;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}



.svg_email{
  fill: white;
  margin-right: 15px;
}
.areas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left:5% ;
  width: 30%;
}
.title{
  font-size: 25px;
  text-align: center;
  margin-left: 50px;
  
}
.areas ul {
  list-style: none; /* Quitar los puntos de las listas */
  padding: 0; /* Quitar el padding predeterminado */
  margin: 0 10px; /* Espaciado horizontal entre las listas */
}

.areas li {
  font-size: 18px; /* Ajusta el tamaño de los ítems */
  margin-bottom: 5px; /* Espacio entre los ítems */
  text-decoration: underline;
}
.containerMail{
  display: flex;
  align-items: center;
}
.containerMail a {
  margin: 15px;
}
@media (max-width: 768px) {
  .containerFooter {
    flex-direction: column; /* Apilar elementos verticalmente */
   
    /* text-align: center; Centrar el texto */
    height: auto;
  }
  .svg_email{
    fill: white;
  }
  .button_mail {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0%;
    margin-bottom: 15px;
  }

  .areas {
    justify-content: flex-start;
    margin-left: 0px;
    width: 90%;
  }

  .title {
    margin-right: 0; /* Quitar margen derecho */
    margin-bottom: 10px; /* Espaciado en móviles */
  }

  .areas ul {
    color: white;
    justify-content: flex-start;
  }
  .logo{
    margin-left: 0%;
  }
}
.areasPractice{
  display: flex;
}
.logo{
  width: 100px;
  margin-left: 50px;
}
.button_mail{
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 16px; /* Tamaño de fuente para mayor legibilidad */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: all 0.3s ease-in-out; /* Transiciones suaves */
  text-decoration: underline; /* Para usarlo como un enlace estilizado */
}
.facebook{
  fill:white
}
.instagram{
  fill:white
}
.botonWsp{
display: flex;
justify-content: center;
align-items: center;
}
.containerCopyright{
  margin-top: 6%;
}
.copyright{
  color: #718598;
}
@media (max-width: 768px) {
  .logo{
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .areas{
    width: 75%;
  }
  .containerCopyright{
    width: 80%;
    margin-left: 20px;
  }
}
