@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.containerImgHome{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  background-color:#033141;

}
.container_sections_home{
  margin: 10%;
}
 .container_imgs_home{
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content:center ;
  /* background:#ececec; */
   gap: 20px;
  
}
.container_information{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  text-align: center;
  width: 40%;
  margin: 5%;
} 
 @media (max-width: 768px) {
  .container_imgs_home {
    flex-direction: column; 
     align-items: center; 
 } 
 
.container_information {
    text-align: center; 
    margin-top: 20px; 
  }
}  
.imgs{
  border-radius: 10px;
  
}
.title_section{
  background-color:#033141;
  width: 100%;
  height:40px;
  border-radius: 10px;
  font-size: x-large;
  margin: auto;
  margin-bottom: 40px;
}
.paragraph{
  color:black;
  text-align: left;
}
.practice_area{
  color: black;
  font-size: 30px;
  text-align: center;
}
.containerList{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}
.list_of_cities{
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
}
.list_of_cities li{
  color: rgb(255, 255, 255);
  font-size: 22px;
  background-color: #033141;
  width: 230px;
  height: 40px;
  border-radius: 25px;  
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .list_of_cities {
    flex-direction: column; /* Cambia la dirección del eje principal */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  .list_of_cities li {
    margin-bottom: 15px; /* Agrega espacio entre los elementos */
  }
}
.container_contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.container_contact button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 2px solid;
  border-color: #60D669;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
.icons_whatsapp{
  color: #60D669;
  margin-right: 30px;
}
.container_contact button:hover{
  transform: scale(1.05); /* Pequeño zoom */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}
.contact{
  color: black;
  font-size: 30px;
  margin-top: -20px;

}
.container_svgs{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.svg_list{
 display: flex;
 gap: 120px;
 justify-content: center;
 flex-wrap: wrap; 
 margin-top: 60px;
}
.see_more{
 display: flex; /* Activa Flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente (opcional si deseas centrar el contenido del botón) */
  background-color: #E6B16F;
  color: white;
  width: 120px;
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px; /* Agrega espacio interno */
  gap: 5px; /* Espacio entre el texto y la flecha */
  border: none; /* Elimina el borde por defecto del botón */
  cursor: pointer; /* Cambia el puntero al pasar por encima */
}
.see_more:hover{
  background-color: #d49a5f; /* Cambia el color de fondo en hover */
  transform: scale(1.09); /* Agrega un efecto de agrandamiento */
  transition: 0.3s; /* Agrega una transición suave */
}
.arrow{
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.container_epj{
   display: flex;
   align-items: center;
   justify-content: center;
}
.EJP{
  color: black;
  font-size: 44px;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  font-family:  'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta según lo necesario */
  text-align: center;
  font-weight: bolder;
}

@media screen and (max-width: 768px) {
  
  .containerImgHome{
    height: 70vh;
  }
  .container_epj{
    width: 100%;
  }
  .EJP{
    color: black;
    height: auto;
    width: 85%;
  }
  .title_section{
    color: white;
  }
  .container_imgs_home {
    flex-direction: column; /* Imagen arriba, texto abajo */
  }
  .icons_whatsapp{
    margin-right: 5px;
  }
  .imgs {
    width: 100%; /* Imagen ocupa todo el ancho */
  }

  .container_information {
    width: 100%; /* Texto ocupa todo el ancho */
    margin: 0;
    text-align: center;
    padding: 10px;
  }
}
.desktop-version {
  display: block;
}

.mobile-version {
  display: none;
}
.svg_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}
.svg_item {
  text-align: center;
}
.svg_item svg {
  display: block;
  margin: 0 auto;
}

.svg_item span {
  display: block;
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
@media screen and (max-width: 768px) {
  .desktop-version {
    display: none;
  }

  .mobile-version {
    display: block;
    margin: 2%;
  }
  .svg_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
}
